@import 'palette';
@import 'responsive';

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-family: $font;
  height: inherit;
  @include atOrBelowMobileSize {
    font-size: 14px;
  }
  @include aboveMobileSize {
    font-size: 16px;
  }
}

a {
  color: $light-blue;
  cursor: pointer;
  &:visited {
    color: $light-blue;
  }
  &:hover {
    color: $hover-light-blue;
  }
}

.func {
  .func-examples {
    .func-example {
      .code {
        .log {
          text-decoration: none;
          background-color: #fff7cd;
          color: black;
          &:hover {
            background-color: #fff5a7;
            color: black;
          }

        }
      }
    }
  }
}

.my-custom-theme {
  border-radius: 5px;
  border: none;
  background: #4c4c4c;
  color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.my-custom-theme .tooltipster-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 12px;
  padding: 8px 10px;
}

